body.iframe-css .container-fluid {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.gift_voucher_checkouts-controller .customer-header img {
  display: none;
}

.gift-voucher-checkout .pricing .price {
    color: #292724 !important;
}

.gift-voucher-checkout .btn.btn-main {
background-color: #bddaeb ;
background-image: none !important;
}
